<h1>TextToSpeech</h1>

<%= form_with url:'#', id:'text-to-speech-form', local:true do |f| %>
    <div>
        <%= label_tag :text, 'Enter text:' %>
        <%= f.text_area :text, id:'text' %>
    </div>

    <div>
        <%= button_tag 'Read Text', type:'button', onclick:'readText()' %>
    </div>
<% end %>
