/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 
body
{
   background-color: #ffbfb0;
}
 
h1
{
   color: #c63637;
   font-size: 50px;
   font-weight: bolder;
   text-align: center;
}

button
{
   background-color: #c63637;
   border: 2;
   border-color: #c63637;
   border-radius: 10px;
   box-shadow: 0 1px 1px rgba(0,0,0,1);
   color: #ffffff;
   font-weight: bold;
   width: 20%;
   height: 40px;
   font-size: 20px;
}

.formulario
{
    /* max-width: 650px; */
    text-align: center;
}

.formulario input, form textarea
{
    border: 5;
    outline: 0;
    padding: 10px;
    border-radius: 8px;
    display: block;
    width: 20%;
    box-shadow: 0 1px 1px rgba(0,0,0,1);
    justify-self: center;
    margin: auto;
    resize: none;
}